<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


    <div class="container">
      <div class="jumbotron">
        <h1>CSU GS-ONE HOME</h1>
        <p class="lead">Welcome</p>
        <a class="btn btn-lg btn-primary" href="login" role="button">Login</a>
        <a class="btn btn-lg btn-primary" href="overview" role="button">Overview</a>
      </div>
    </div>


</body>
</html>












